<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Job: ' + job.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="job-listing">
    <p th:text="${'Employer: ' + job.employer.name}"></p>
    <p th:text="${'Location: ' + job.employer.location}"></p>
    <p> Skills:</p>
        <ul>
            <li th:each="skill : ${job.skills}">
                <span th:text="${skill.name}"></span>
                <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
            </li>

</ul>

</div>


</body>
</html>